body {
  background-color:#dddddd;
}

a:link {
 text-decoration:none;
 color:#4c4a4a;
 font-weight: bold;
 font-size:1.25em;
} 

a:visited {
 color:#4c4a4a;
}

li {
  margin-bottom: 0.5em;
}

li span {
  font-style:italic;
}

h1 {
  padding-left:0.25em;
}