body {
  background-color:#dddddd;
}

body {
  margin: 0 0 0 0;
}
main {
  position:relative;
  display:flex;
  justify-content:center;
}

section {
  max-width:30em;
  font-size:1.2em;
  margin:1.25em 0 1.25em 0;
  flex-grow:1;
}

article {
  white-space:pre-wrap;
  margin:0em 1em 0 1em;
  line-height:1.4;
}

article iframe {
  width:100%;
  height:90vh;
  border:none;
}

#nav {
  position:fixed;
  transform:translateX(18em);
  padding:0.25em;
}

#nav a {
  text-decoration: none;
  color:gray;
  font-size:1.35em;
}

#nav:hover {
  transform:translateX(18em) scale(1.5);
}

@media only screen and (max-width: 38em) {
  #nav {
    position:fixed;
    right:0;
    padding:0 0.45em 0 0;
    transform:translate(0);
  }
  #nav:hover {
    transform:scale(1.5);
  }
}
