body {
  background-color:#dddddd;
}

main {
  position:relative;
  display:flex;
  justify-content:center;
}

section {
  max-width:30em;
  font-size:1.2em;
}

article {
  white-space:pre-wrap;
  margin:1em 1em 0 1em;
  text-align:justify;
  line-height:1.4;
}

#nav {
  position:fixed;
  top:1em;
  right:1em;
}

#nav a {
  text-decoration: none;
  color:gray;
  font-size:1.25em;
}

#nav:hover {
  transform:scale(1.25);
}